spring:
    # AWS 프로필 사용
    config:
        activate:
            on-profile: aws

    # MySQL
    datasource:
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://${database.hostname}:3306/${database.schema}?serverTimezone=Asia/Seoul&useSSL=false&characterEncoding=UTF-8
        username: ${database.username}
        password: ${database.password}

    # Redis
    data:
        redis:
            port: 6379
            host: ${redisHost}
            password: ${redisPass}
            lettuce:
                pool:
                    max-active: 10
                    max-idle: 10
                    min-idle: 2
    # ELK
    elasticsearch:
        host: 'localhost'
        port: 9200
        username: ${elk.user}
        password: ${elk.pass}

    # redis cache 사용
    cache:
        type: redis

    # JPA 관련 설정
    jpa:
        hibernate:
            ddl-auto: create
        properties:
            hibernate:
                format_sql: true
                use_sql_comments: true
                show_sql: true
                default_batch_fetch_size: 100

    security:
        oauth2:
            client:
                registration:
                    kakao:
                        client-id: ${kakao.id}
                        client-secret: ${kakao.secret}
                        authorization-grant-type: authorization_code
                        redirect-uri: 'http://localhost:8081/member/login/kakao'
                        client-name: kakao
                        client-authentication-method: client_secret_post
                        scope: account_email
                    google:
                        client-id: ${google.id}
                        client-secret: ${google.secret}
                        redirect-uri: 'http://localhost:8081/member/login/google'
                        scope:
                            - email
                            - profile
                    naver:
                        client-id: ${naver.id}
                        client-secret: ${naver.secret}
                        authorization-grant-type: authorization_code
                        redirect-uri: 'http://localhost:8081/member/login/naver'
                        client-name: naver
                        client-authentication-method: client_secret_post
                        scope:
                            - profile
                            - account_email

                provider:
                    kakao:
                        authorization-uri: https://kauth.kakao.com/oauth/authorize
                        token-uri: https://kauth.kakao.com/oauth/token
                        user-info-uri: https://kapi.kakao.com/v2/user/me
                        user-name-attribute: id
                    google:
                        authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
                        token-uri: https://www.googleapis.com/oauth2/v4/token
                        user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
                        user-name-attribute: sub
                    naver:
                        authorization-uri: https://nid.naver.com/oauth2.0/authorize
                        token-uri: https://nid.naver.com/oauth2.0/token
                        user-info-uri: https://openapi.naver.com/v1/nid/me
                        user-name-attribute: response
jwt:
    key:
    accestoken:
        expiretime: 3600
    refreshtoken:
        expiretime: 2592000

logging:
    level:
        org:
            hibernate:
                sql: debug

# swagger 설정
springdoc:
    default-consumes-media-type: application/json
    default-produces-media-type: application/json
    api-docs:
        groups:
            enabled: true
    swagger-ui:
        operations-sorter: alpha # alpha(알파벳 오름차순), method(HTTP메소드순)
        tags-sorter: alpha # 태그 정렬 기준
        path: /swagger-ui.html # html 문서 접속 경로
        disable-swagger-default-url: true
        doc-expansion: none # tag, operation 펼치는 방식
    paths-to-match:

server:
    port: 8081

openvidu:
    hostname:
    secret:
